{% extends "template.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}
 {% block PageTitle %}Liste des utilisateurs{% endblock %}
{% block body %}
<form class="form-horizontal">
<div class="table-responsive">
  <table class="table table-bordered table-striped table-highlight">
                    <thead>
                        <tr>
                            {{ dump(nombres|number_format(0.2)) }}
                            
                            <th>ID</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Rôles</th>
                            <th>Vérifié</th>
                            <th>Actions</th>
                                
                                
                        </tr>
                    </thead>
                    <tbody>
                        {% for users in user %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ users.nom }}</td>
                                <td>{{ users.prenom }}</td>
                                <td>{{ users.email }}</td>
                                
                                <td>
                                    {% for role in users.roles %}
                                        {% if role == "ROLE_ADMIN" %}
                                            {% set name = "Administrateur" %}
                                            {% set color = "primary" %}
                                        {% elseif role == "ROLE_PRODUCT_ADMIN" %}
                                            {% set name = "Admin produits" %}
                                            {% set color = "warning" %}
                                        {% else %}
                                            {% set name = "Membre" %}
                                            {% set color = "success" %}
                                        {% endif %}
                                        <span class="badge bg-{{ color }}">{{ name }}</span>
                                    {% endfor %}
                                    
                                </td>
                                <td>
                                    <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch{{ users.id }}" {{ users.isVerified ? "checked" : "" }} disabled>
                                        <label class="form-check-label" for="switch{{ users.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-success">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
        </div>
    </form>
{% endblock %}