{% extends 'template.html.twig' %}

{% block title %}Modification d'un Plat{% endblock %}



{% block body %}

<form class="form-horizontal" method="post" action="{{ path('admin_plat.edit', { 'id': plat }) }}" enctype="multipart/form-data">

{{ form_start(form) }}
<div class="row">

<div class="col-6">{{ form_row(form.title) }}</div>
<div class="col-6"> {{ form_row(form.description) }} </div>

</div>

<div class="row">

<div class="col-6">{{ form_row(form.prix) }}</div>
<div class="col-6">{{ form_row(form.image) }}</div>

</div>


{{ form_rest(form) }}

</form>

{% endblock %}